In [1]:
import pandas as pd

In [56]:
df = pd.read_csv("ocorrencia.csv",sep=";",parse_dates=["ocorrencia_dia"],dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [3]:
df.loc[1, 'ocorrencia_cidade']

'GUARULHOS'

In [4]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0

In [5]:
df.loc[[10,40]] #linha 10 a 40

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,****,2012-01-09,13:30:00,0
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0

In [6]:
df.loc[:,'ocorrencia_cidade'] # todos os dados de uma coluna

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [7]:
df.codigo_ocorrencia.is_unique # verificar se o cod da ocorrencia é único para cada linha

True

In [8]:
df.set_index('codigo_ocorrencia', inplace=True) # codigo_ocorrencia vira o índice

In [9]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [10]:
df.loc[45401]

codigo_ocorrencia2                        45401
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                 SÃO SEBASTIÃO
ocorrencia_uf                                SP
ocorrencia_aerodromo                       ****
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        17:00:00
total_recomendacoes                           0
Name: 45401, dtype: object

In [11]:
df.reset_index(drop=True, inplace=True) #resetar o dataframe

In [12]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0

In [13]:
df.loc[2,'ocorrencia_aerodromo'] = '' #colocar vazio onde tem asterisco

In [14]:
df.head(3)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,0

In [15]:
df['ocorrencia_uf_backup'] = df.ocorrencia_uf # criar coluna de backup

In [16]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_backup
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,RS
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,0,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0,RS

In [17]:
df.loc[df.ocorrencia_uf == 'SP',] #Obter todos de São Paulo

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_backup
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0,SP
5,52243,INCIDENTE,UBATUBA,SP,****,2012-01-06,14:30:00,0,SP
6,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0,SP
13,45408,ACIDENTE,ELDORADO,SP,****,2012-01-11,13:45:00,1,SP
...,...,...,...,...,...,...,...,...,...
5148,80441,ACIDENTE,BRAGANÇA PAULISTA,SP,SDVH,2021-12-20,18:15:00,0,SP
5157,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,9:00:00,0,SP
5158,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0,SP
5161,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0,SP
5163,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,9:30:00,0,SP

ocorrencia_uf
**
ocorrencia_aerodromo
####
###!
*****
****
ocorrencia_hora
NULL

In [18]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_backup
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,RS
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,0,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,0,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,0,RS

In [52]:
df.loc[df.ocorrencia_aerodromo == '####', ['ocorrencia_aerodromo']]= pd.NA #atribuir valores que não estão disponíveis dentro de uma célula

In [53]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10

In [21]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']]=pd.NA

In [22]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_backup
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,RS
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,0,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,0,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,0,RS

In [54]:
df.replace(['####','**','###!','*****','****','NULL'], pd.NA, inplace=True) #alterações em todo dataset

In [55]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,10,2021-12-30,20:30:00,10
5163,80452,ACIDENTE,MARACAÍ,SP,10,2021-12-31,9:30:00,10
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10

In [44]:
df.isna().sum()  #informa qtos dados não informados

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [45]:
df.isnull().sum()  # outra forma de saber dados não informados

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

df.fillna(0) #coloca um valor nos dados não informados, em tempo de visualização

df.fillna(10, inplace=True)#para realmente alterar

In [46]:
df.replace([0], pd.NA, inplace=True)

In [47]:
df.isnull().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [48]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,10,2021-12-30,20:30:00,10
5163,80452,ACIDENTE,MARACAÍ,SP,10,2021-12-31,9:30:00,10
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10

In [49]:
df.fillna(value={'total_recomendacoes':10},inplace=True)

In [50]:
df.isnull().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [51]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,10,2021-12-30,20:30:00,10
5163,80452,ACIDENTE,MARACAÍ,SP,10,2021-12-31,9:30:00,10
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10

In [40]:
df.drop(['ocorrencia_uf_backup'], axis=1, inplace=True) #excluir coluna de backup

In [41]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,10
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,,2012-01-06,13:00:00,10
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,10,2012-01-06,17:00:00,10
4,45407,ACIDENTE,SÃO SEPÉ,RS,10,2012-01-06,16:30:00,10
...,...,...,...,...,...,...,...,...
5162,80458,ACIDENTE,JATAÍ,GO,10,2021-12-30,20:30:00,10
5163,80452,ACIDENTE,MARACAÍ,SP,10,2021-12-31,9:30:00,10
5164,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,10
5165,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,10
5166,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,10

In [ ]:
df.drop_duplicates(inplace=True) #exclui linhas duplicadas fazendo a alteração